services:
  a2a_server:
    image: ghcr.io/astral-sh/uv:python3.11-trixie
    user: "1000:1000"
    volumes:
      - ../../:/workspace
    working_dir: /workspace
    command: uv run /workspace/examples/python/a2a_server.py
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - UV_CACHE_DIR=/workspace/.cache/uv
    develop:
      watch:
        - action: restart
          path: ./examples/python/a2a_server.py

  mcp_server:
    image: ghcr.io/astral-sh/uv:python3.11-trixie
    user: "1000:1000"
    volumes:
      - ../../:/workspace
    working_dir: /workspace
    command: uv run /workspace/examples/python/mcp_server.py
    ports:
      - "8080:8080"
    environment:
      - UV_CACHE_DIR=/workspace/.cache/uv
    develop:
      watch:
        - action: restart
          path: ./examples/python/mcp_server.py
